

<h1>Criar</h1>

<form method="POST">

<Table><tr><td>
Nome:
</td><td> <input type="text" name="nome" value="[% row.nome %]" size=20>

</td></tr><tr><td>
Telefone:
</td><td> <input type="text" name="telefone" value="[% row.telefone %]" size=20>

</td></tr><tr><td colspan="2">
<center><input type="submit"></center>
</td></tr></table>

</form>

